@import url("grid.css");

@import url("reset.css");

html,body {
	height: 100%
}

body {
	color: #444;
	background: #eaeaea;
	font: 12px/1.8 verdana, sans-serif
}

input,button,select,textarea {
	font: 12px/15px Arial, sans-serif
}

a {
	color: #0d8b9b;
	text-decoration: none
}

a:hover {
	color: #cb6400
}

p {
	margin-bottom: 20px
}

p:last-child {
	margin-bottom: 0
}

h1,h2 {
	font-weight: normal
}

h1 {
	font-size: 21px
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 17px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 15px
}

h6 {
	font-size: 14px
}

h3,h4,h5,h6 {
	margin-bottom: .7em
}

.floatLeft {
	float: left
}

.floatRight {
	float: right
}

.alignright {
	text-align: right
}

img[align="left"],img.alignleft {
	float: left;
	margin: 6px 15px 15px 0
}

img[align="right"],img.alignright {
	float: right;
	margin: 6px 0 15px 15px
}

header#top {
	/* height: 60px;
	color: #fff;
	border-bottom: 1px solid #333;
	background: #0085c4#fff; */
	/* background: -moz-linear-gradient(left,  #0085c4 4%, #00c9eb 15%, #8cedfd 20%, #00c9eb 25%, #0085c4 38%);
	background: -webkit-gradient(linear, left top, right top, color-stop(4%,#0085c4), color-stop(15%,#00c9eb), color-stop(20%,#8cedfd), color-stop(25%,#00c9eb), color-stop(38%,#0085c4)); 
	background: -webkit-linear-gradient(left,  #0085c4 4%,#00c9eb 15%,#8cedfd 20%,#00c9eb 25%,#0085c4 38%);
	background: -o-linear-gradient(left,  #0085c4 4%,#00c9eb 15%,#8cedfd 20%,#00c9eb 25%,#0085c4 38%); 
	background: -ms-linear-gradient(left,  #0085c4 4%,#00c9eb 15%,#8cedfd 20%,#00c9eb 25%,#0085c4 38%);
	background: linear-gradient(to right,  #0085c4 4%,#00c9eb 15%,#8cedfd 20%,#00c9eb 25%,#0085c4 38%);
	background: linear-gradient(to right, #026492 2%,#0297B0 10%,#087B8E 15%,#0E1719 28%,#0370A4 38%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085c4', endColorstr='#0085c4',GradientType=1 ); */
	/* min-width: 960px */
}

div#logo {
	/*margin-top: 4px;*/
	font-size: 18px
}

header#top div#logo a {
	text-decoration: none;
	color: #aaa
}

header#top div#logo a:hover {
	color: #ccc
}

div#logo img {
	vertical-align: top;
}

div#logo a span {
	color: #eee
}

a#view-site {
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #444;
	padding: 1px 3px;
	margin-left: 10px;
	background: #333;
	vertical-align: middle
}

#userinfo {
	/*margin-top: 10px;*/
	text-align: right;
}

#userinfo a {
	padding: 4px 6px 4px 6px;
}

footer#bottom .poweredby {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	bottom: 10px;
}

header#top a:hover,footer#bottom a:hover {
	color: #fff
}

nav#topmenu {
	height: 36px;
	line-height: 36px;
	/* min-width: 960px; */
	position: relative;
	z-index: 1;
	background: #636363;
	border-top: 1px solid #636363;
	border-bottom: 1px solid #555;
}

nav ul li {
	float: left;
	position: relative;
	top: -1px;
}

nav ul li a {
	display: block;
	color: #fff;
	font-size: 12px;
	padding: 0 10px
}

nav ul li {
	text-shadow: 1px 1px 1px #444
}

nav ul ul li {
	text-shadow: none
}

nav ul li.current a,nav ul li a:hover { /*color: #f75844*/
	color: #d8ffff;
}

nav ul#mainmenu {
	float: left;
	width: 75%;
}

nav ul#usermenu {
	float: right;
	font-size: 13px;
	width: 8%;
}

nav ul#usermenu a.inbox {
	background-image: url(../images/icons/mail.png);
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 28px
}

section#content {
	padding: 10px 0;
	min-width: 960px;
	text-align: justify
}

article {
	border: 1px solid #aaa;
	background: #fff;
	padding: 6px 6px 6px 6px;
	margin-bottom: 10px;
	/* height: 78%; */
}

/* article h1 {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 14px;
	background: #E3E3E3;
	padding: 3px 10px;
	margin-bottom: 10px;
	color: #000;
}

article h1 a {
	color: #000;
}

article h2 {
	color: #902452;
	margin: 15px 0 10px
}

article .links {
	text-align: right;
	margin-top: 10px
} */

.content img {
	border: 1px solid #ddd;
	padding: 4px
}

.content ul,.content ol {
	margin-left: 10px;
	padding-left: 10px;
	margin-bottom: 10px
}

.content ul ul,.content ol ol {
	margin-bottom: 0
}

.content ul {
	list-style: circle
}

.content ol {
	list-style: decimal
}

.content ol ol {
	list-style: lower-alpha
}

.content dl dd {
	margin: 0 0 10px 20px
}

.box {
	background: #fff;
	margin-bottom: 15px;
	position: relative;
	padding: 0;
	border: 1px solid #bbb;
	background: #fff url(../images/box-header.gif) 0 0 repeat-x
}

.box h2 {
	position: relative;
	height: 23px;
	padding: 5px 36px;
	font-size: 13px;
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
	background: url(../images/icons/bullet_go.png) 10px center no-repeat
}

.box section {
	padding: 10px;
	font-size: 11px
}

.box img.toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer
}

.box.info h2 {
	background-image: url(../images/icons/information-octagon.png)
}

.box.menu h2 {
	background-image: url(../images/icons/bookmarks.png)
}

.search {
	padding: 15px 10px;
	border-color: #ccc;
	background: #f4f4f4
}

.search label {
	font: 11px Tahoma, sans-serif;
	color: #777;
	font-weight: bold;
	margin: 0 0 3px 2px;
	display: block
}

#login {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px
}

#login h2 {
	background-image: url(../images/icons/key.png)
}

#login section {
	padding: 20px
}

#login a {
	font-size: 11px
}

input#username,input#adminpassword {
	width: 230px
}

#login #forgot {
	margin-left: 20px
}

#dashboard h2 {
	margin: 30px 0 10px 5px
}

.statistics {
	float: left;
	width: 200px
}

.statistics table {
	width: 100%
}

.statistics table td {
	border: 1px solid #eee;
	padding: 5px 10px
}

.statistics table td a {
	font-weight: bold
}

#pageviews {
	float: right
}

section.icons {
	text-align: center
}

.icons ul {
	margin-top: 20px
}

.icons ul li {
	width: 80px;
	margin: 0 20px 20px 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline
}

.icons ul li a {
	display: block;
	padding: 5px;
	border: 1px solid #f1f1f1
}

.icons ul li a:hover {
	border: 1px solid #aaa
}

.icons ul li a span {
	font: 11px Tahoma, sans-serif;
	color: #333;
	display: block
}

.box ul li {
	padding: 0;
	border-bottom: 1px dashed #d6d8d9
}

.box ul li a {
	padding: 3px 5px 3px 18px;
	color: #333;
	display: block;
	background: url(../images/icons/bullet_yellow.png) 0 center no-repeat
}

.box ul li a:hover {
	background-color: #fffae3
}

.box ul ul {
	margin-left: 15px
}

.box ul ul li {
	border-bottom: none
}

.news li {
	padding: 8px 0;
	border-bottom: 1px dashed #d6d8d9
}

.news li .date {
	font-size: 10px;
	color: #aaa;
	margin-right: 5px
}

.news li img {
	vertical-align: middle;
	margin-left: 5px
}

ul.sortable li img {
	cursor: move
}

ul.photos {
	border: none
}

ul.photos li {
	margin: 6px;
	padding: 0;
	border: none;
	background-color: #fff;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	_height: 150px
}

ul.photos li img {
	padding: 5px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 0 #eee
}

ul.photos li img:hover {
	border: 1px solid #999
}

ul.photos div.links {
	margin: 0
}

ul.photos div.links a {
	color: #aaa;
	background: #fff;
	font: 10px Tahoma, sans-serif;
	padding: 2px 3px;
	margin: 0 0 0 3px;
	border: none
}

ul.photos div.links a:hover {
	background-color: #888;
	color: #fff
}

ul.photos div.links a.delete:hover {
	background-color: #bc1515
}

ul.comments li {
	padding: 6px 0;
	border-bottom: 1px dashed #d6d8d9
}

img.comment-avatar {
	float: left;
	margin: 5px 10px 5px 0;
	width: 36px;
	height: 36px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px
}

ul.comments li div.links {
	margin: 0
}

ul.comments li div.links a {
	color: #fff;
	background: #aaa;
	font: 10px Tahoma, sans-serif;
	padding: 2px 3px;
	margin: 0 0 0 1px;
	border: none
}

ul.comments li div.links a.delete {
	background-color: #f06c6c
}

ul.comments li div.links a.delete:hover {
	background-color: #bc1515
}

ul.comments li div.links a:hover {
	border: none;
	background: #000
}

ul.comments span.date {
	font-size: 10px;
	color: #aaa;
	margin-right: 10px
}

div.msg {
	padding: 10px 10px 10px 37px;
	margin-bottom: 10px;
	cursor: pointer
}

div.success {
	border: 1px solid #6cd858;
	background: #e3ffde url(../images/icons/tick.png) 10px 13px no-repeat
}

div.error {
	border: 1px solid #ffa2aa;
	background: #fae8e8 url(../images/icons/exclamation-red.png) 10px 13px
		no-repeat
}

div.warning {
	border: 1px solid #d6d61f;
	background: #ffffd3 url(../images/icons/exclamation.png) 10px 13px
		no-repeat
}

div.information {
	border: 1px solid #b4dbe8;
	background: #e3f2f7 url(../images/icons/information-balloon.png) 10px
		13px no-repeat
}

.gtable {
	width: 100%
}

.gtable th {
	text-align: left;
	padding: 5px 10px
}

.gtable thead tr {
	color: #333;
	border: 1px solid #ccc
}

.gtable thead th {
	background: #efefef
}

.gtable tbody tr td {
	border-bottom: 1px solid #eee
}

.gtable tbody tr:nth-child(odd) td,.detailtable tbody tr.odd td {
	background-color: #fff
}

.gtable tbody tr:nth-child(even) td,.detailtable tbody tr.even td {
	background-color: #f7f7f7
}

.gtable tbody tr:hover td {
	background-color: #fffae3
}

.gtable td {
	padding: 5px 10px
}

.gtable input {
	vertical-align: middle
}

.gtable img {
	vertical-align: middle;
	margin-right: 5px
}

.gtable tr.detail {
	font-size: 11px
}

.gtable tr.detail td {
	padding: 0
}

.gtable tr.detail td td,.gtable tr.detail td th {
	padding: 2px 10px;
	color: #777
}

.gtable .detail table {
	width: 100%;
	border: 5px solid #fff7d1
}

.gtable .detail table tr td,.gtable .detail table tr th {
	background: #ffffed;
	border-bottom: 1px solid #fff7d1
}

table.sortable img.move {
	cursor: move
}

.tablefooter {
	background: #f7f7f7;
	border-top: 1px solid #fff
}

.tablefooter .actions {
	float: left;
	padding: 5px 10px
}

/* .tablefooter .pagination {
	float: right;
	padding: 5px 10px
}

.pagination {
	font: 11px Tahoma, sans-serif;
	margin: 7px 0;
	text-align: right
}

.pagination a {
	padding: 4px 7px;
	color: #333;
	background: #fff;
	margin: 0;
	border: 1px solid #e4e4e4
}

.pagination a.current {
	font-weight: bold;
	color: #fff;
	background: #555;
	border: 1px solid #555
}

.pagination a:hover {
	color: #fff;
	background: #777;
	border: 1px solid #777
}
 */
form fieldset {
	margin: 10px;
	padding: 10px;
	border: 1px solid #e5e5e5
}

form legend {
	font: 10px Tahoma, sans-serif;
	text-transform: uppercase;
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
	padding: 0 5px 0 30px;
	background: url(../images/icons/block.png) 5px 0 no-repeat;
	line-height: 18px;
	margin: 10px 0
}

form dt {
	margin-bottom: 2px
}

form dd {
	margin-bottom: 15px
}

form dt label {
	cursor: pointer;
	font: 11px Tahoma, sans-serif;
	font-weight: bold;
	color: #555
}

form p {
	clear: left;
	margin-bottom: 0;
	padding: 5px 0;
	width: 100%
}

form p label {
	display: block;
	float: left;
	cursor: pointer;
	font: 11px Tahoma, sans-serif;
	font-weight: bold;
	color: #555;
	width: 100px;
	vertical-align: middle;
	padding: 5px;
	text-align: right;
	margin-right: 10px
}

form p small {
	display: block;
	margin: 0 10px 0 120px;
	font-size: 10px;
	color: #aaa
}

form dl.inline dt {
	clear: both;
	width: 25%;
	float: left;
	text-align: right
}

form dl.inline dt label {
	margin-right: 12px
}

form dl.inline dd {
	float: left;
	width: 74%;
	margin: 0 0 15px
}

form dl dd small {
	display: block;
	font-size: 11px;
	color: #aaa
}

form div.buttons {
	margin: 20px 0 10px 25%
}

form input[type="text"],form input[type="email"],form input[type="password"],form select,form textarea
	{
	border: 1px solid #ccc;
	padding: 4px 5px;
	background: #fff url(../images/input-bg.gif) 0 0 repeat-x
}

form select {
	padding: 3px
}

form input[type="text"]:hover,form input[type="email"]:hover,form input[type="password"]:hover,form select:hover,form textarea:hover
	{
	border: 1px solid #999
}

form input[type="text"]:focus,form input[type="email"]:focus,form input[type="password"]:focus,form select:focus,form textarea:focus
	{
	border: 1px solid #777
}

form input[type="radio"],form input[type="checkbox"] {
	vertical-align: top
}

form input.small,form select.small,form textarea.small {
	width: 130px
}

form input.medium,form select.medium,form textarea.medium {
	width: 300px
}

form input.big,form select.big,form textarea.big {
	width: 540px
}

input#newstitle {
	font-size: 20px;
	width: 540px
}

form label.error {
	font: 10px Tahoma, sans-serif;
	color: #ed7476;
	margin-left: 5px
}

form input.error,form input.error:hover,form input.error:focus,form select.error,form textarea.error
	{
	border: 1px solid #ed7476;
	background: #ffeded
}

ul.tabs {
	font-size: 13px;
/* 	line-height: 14px; */
	font-weight: bold;
	border-bottom: 3px solid #666;
	padding: 7px 0
}

.tabs li {
	display: inline
}

.tabs a {
	background: #f3f3f3;
	padding: 6px 12px;
	color: #888;
	outline: 0
}

.tabs a:hover {
	color: #555;
	background: #eee
}

.tabs .selected a {
	color: #fff;
	background: #666
}

.tabcontent {
	padding: 10px 0
}

#settings .tabcontent {
	padding-top: 25px
}

.accordion h3 {
	padding: 2px 8px;
	font-size: 14px;
	margin-bottom: 2px;
	cursor: pointer;
	font-weight: bold;
	color: #555;
	background: #eee
}

div.accordion h3.active {
	color: #fff;
	background: #666
}

.accordion h3:hover {
	background: #eee
}

.accordion div {
	margin: 5px 0
}

.accordion div div {
	margin: 0
}

.button {
	font: 11px Tahoma, sans-serif;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 6px 8px;
	text-shadow: 1px 1px 1px #555;
	width: auto;
	overflow: visible;
	line-height: 110%
}

.button:hover {
	opacity: .9;
	-ms-filter: "alpha(opacity=90)";
	filter: alpha(opacity = 90)
}

a.button:hover {
	color: #fff
}

.button:active {
	position: relative;
	top: 1px
}

.button.big {
	font: 15px Arial, sans-serif;
	font-weight: bold;
	padding: 8px 10px
}

.button.small {
	font-weight: normal;
	padding: 4px 5px
}

.button.red {
	border: 1px solid #9c0606;
	background: #e85353
}

.button.blue {
	border: 1px solid #0d717e;
	background: #28a0b2
}

.button.green {
	border: 1px solid #3b6e22;
	background: #75ae5c
}

.button.orange {
	border: 1px solid #c16729;
	background: #ff9435
}

.button.purple {
	border: 1px solid #981271;
	background: #cb60b3
}

.button.yellow {
	border: 1px solid #af9827;
	background: #d1c164
}

.button.black {
	border: 1px solid #000;
	background: #444
}

.button.gray {
	border: 1px solid #444;
	background: #888
}

.button.white {
	color: #444;
	text-shadow: 1px 1px 0 #fff;
	border: 1px solid #999;
	background: #f7f7f7
}

.button.white:hover {
	color: #444
}

section.buttons {
	text-align: center
}

section.buttons .button {
	margin-bottom: 15px
}

nav#topmenu {
	background: #636363;
}

.button {
	-webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0
		-5px 15px rgba(0, 0, 0, .3), 1px 1px 1px #ccc;
	-moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0 -5px
		15px rgba(0, 0, 0, .3), 1px 1px 1px #ccc;
	box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0 -5px 15px
		rgba(0, 0, 0, .3), 1px 1px 1px #ccc
}

a#view-site {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

nav ul li.current a,nav ul li a:hover,nav ul li:hover {
/* 	-webkit-box-shadow: inset 0 3px 20px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0 3px 20px rgba(0, 0, 0, .6);
	box-shadow: inset 0 3px 20px rgba(0, 0, 0, .6)
 */}

article {
	-webkit-box-shadow: 3px 3px 0 #ddd;
	-moz-box-shadow: 3px 3px 0 #ddd;
	box-shadow: 3px 3px 0 #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

article h1 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

article .links a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.box {
	-webkit-box-shadow: #e1e1e1 2px 2px 0;
	-moz-box-shadow: #e1e1e1 2px 2px 0;
	box-shadow: #e1e1e1 2px 2px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.box h2 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.search {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa),
		to(#e3e3e3) );
	background: -moz-linear-gradient(#fafafa, #e3e3e3);
	background: linear-gradient(#fafafa, #e3e3e3);
	-pie-background: linear-gradient(#fafafa, #e3e3e3);
	-webkit-box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd;
	-moz-box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd;
	box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd
}

.icons ul li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 15px #f4f4f4;
	-moz-box-shadow: inset 0 0 15px #f4f4f4;
	box-shadow: inset 0 0 15px #f4f4f4
}

form fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

form input[type="text"],form input[type="email"],form input[type="password"],form select,form textarea
	{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

div.msg {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.gtable thead th {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff),
		to(#efefef) );
	background: -moz-linear-gradient(#fff, #efefef);
	background: linear-gradient(#fff, #efefef);
	-pie-background: linear-gradient(#fff, #efefef)
}

.pagination a.current {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#555)
		);
	background: -moz-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3)
}

.tabs a,.accordion h3 {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee),
		to(#e4e4e4) );
	background: -moz-linear-gradient(#eee, #e4e4e4);
	background: linear-gradient(#eee, #e4e4e4);
	-pie-background: linear-gradient(#eee, #e4e4e4)
}

.tabs .selected a,div.accordion h3.active {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#666)
		);
	background: -moz-linear-gradient(#888, #666);
	background: linear-gradient(#888, #666);
	-pie-background: linear-gradient(#888, #666)
}

a#view-site,.search {
	behavior: url(js/PIE.htc)
}

#colorstyle {
	margin-top: 15px
}

#colorstyle div {
	float: left;
	margin-right: 5px
}

#colorstyle a {
	outline: none;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 3px 0 0 4px;
	opacity: .75;
	-ms-filter: "alpha(opacity=75)";
	filter: alpha(opacity = 75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px 6px
		rgba(0, 0, 0, .5);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px
		6px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px 6px
		rgba(0, 0, 0, .5)
}

#colorstyle a:hover {
	opacity: 1;
	-ms-filter: "alpha(opacity=100)";
	filter: alpha(opacity = 100)
}

#colorstyle a[rel="blue"] {
	background: #239db0
}

#colorstyle a[rel="orange"] {
	background: #ff7f04
}

#colorstyle a[rel="red"] {
	background: #e02424
}

#colorstyle a[rel="green"] {
	background: #67a54b
}

#colorstyle a[rel="purple"] {
	background: #db36a4
}

#colorstyle a[rel="yellow"] {
	background: #e8cc45
}

#colorstyle a[rel="black"] {
	background: #2b2b2b
}

#colorstyle a[rel="gray"] {
	background: #666
}

#breadcrumbs {
	font-size: 11px;
	margin: 0 0 10px 0
}

#userinfo .username,#userinfo .userrole {
	/* color: white; */
	font-weight: bold;
	/*text-shadow: 0 1px 1px black;*/
}
/* =============================================================================
Loading Styles
========================================================================== */
#loading-mask {
	background-color: white;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
}

#loading {
	height: auto;
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 10px;
}

#loading-msg {
	font-size: 10px;
	font-weight: normal;
}

.action img {
	cursor: pointer;
	cursor: hand;
}

body .x-window-header-default-top {
	
	border-bottom: 1px solid #333;
	background: linear-gradient(#047DB4, #4695E3) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#047DB4), to(#4695E3) );
	background: -moz-linear-gradient(#047DB4, #4695E3);
	-pie-background: linear-gradient(#047DB4, #4695E3);
	padding: 5px !important;
	color: #fff !important;
}

body .x-window-header-text,body .x-window-header-text-default {
	color: #ffffff !important;
	font-size: 12px;
}

body .x-window-body-default {
	background-color: #ffffff !important;
	border: none;
}

body .x-boundlist ul {
	padding-left: 0;
}

body .x-tool-close {
	height: 18px !important;
}

body .x-border-layout-ct {
	background-color: #F1F1F1;
}

body .x-border-layout-ct,body .x-panel-body-default-framed,body .x-panel-default-framed,body .x-toolbar-footer
	{
	background-color: #ffffff !important;
}

body .x-form-invalid-under {
	background-position: 2px 47% !important;
}

body .x-form-invalid-under ul {
	padding-left: 7px;
}

.x-form-invalid-tip-body ul {
	margin: 0;
	padding: 0;
}

.ext_header h3 {
	font-size: 13px;
}

/* Tool tip (start) */
.x-tip {
	background-color: #fff;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 1px solid rgba(134, 84, 41, 0.5);
	opacity: 0.95;
}

.x-tip-header {
	margin-bottom: 5px;
}

.x-tip .x-panel .x-panel-body.x-layout-fit {
	border: none;
}

.x-tip .x-panel.x-grid-section.x-panel-noborder.x-fit-item {
	margin: 0;
}

.x-tip .x-panel.x-box-item {
	top: 0 !important;
}

.x-tip-header-body .x-component.x-box-item {
	width: 100%;
	text-align: center;
}

.x-tip-body {
	text-shadow: none;
}

/* Tool tip (end) */
#content-buttons-top {
	float: right;
}

#content-buttons-top .x-btn {
	margin-left: 15px;
}

#content-buttons .x-btn {
	margin-right: 15px;
}

#content-grid {
	float : left;
}

#content-form {
	margin-left: 70%;
}
.icon-text {
	position: absolute;
	margin-top: 10px;
}

.back-link ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.back-link li {
	float: left;
	margin-right: 5px;
	margin-bottom: 0.0 em;
}

.back-link li a:hover {
	text-decoration: underline;
}

.status {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	height: 18px;
}

.status span {
	padding: 10px;
	vertical-align: middle;
}

.status.itopsnew,.status.low {
	color: black;
	background-color: #ffe766 !important;
}


.status.legalrejected,
.status.medium, .status.vendorprocessing, .status.fulfillmentrequested {
	background-color: rgb(237, 86, 27) !important;
}

/*poinitiated->itopsconfirm*/

/*Light green color indicating progress towards quote completion(dark green)*/

.status.distributorfulfillbegin,.status.purchaseinprogress,.status.newrequest, .status.requestinitiated {	
	background-color: #5FB404 !important;
}

.status.vendorforward,.status.varforward,.status.distributorsubmitted ,.status.paymentconfirmed,.status.renewalrequestpending{
	background-color: rgb(255,150,27) !important;
}

.status.deliveryinprogress,.status.deploymentinprogress,.status.deploymentcompleted ,.status.deploymentverified {
	background-color: purple !important;
}

.status.quotereqd,.status.medium {
	background-color: red !important;
}

/*itopscomplete->pocomplete*/

.status.pocomplete,.status.active {
	background-color: green !important;
}

.status.expiring,.status.info,.status.fulfilled {
	/*background-color: rgb(5, 141, 199) !important;*/
	background-color: #00a0D0 !important;
}

.status.expired,.status.inactive,.status.high {
	/*background-color: rgb(178, 34, 34) !important;*/
	background-color: red !important;
}

.status.itopsrejected {
	background-color: gray !important;
}

#dashboard h2 {
	background-color: #F9F9F9;
	color: #86CDEB;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 5px 5px;
	margin: 0px;
}

.circle {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.circle.reconciled {
	background-color: #9ACD32;
}

.circle.known {
	background-color: #0000D0;
}

.circle.predicted {
	background-color: #ffe766;
}

.circle.red {
	background-color: #B22222;
}

.circle.gray {
	background-color: #707070;
}

.circle.green {
	background-color: #9ACD32;
}

.circle.blue {
	background-color: #0000D0;
}

.circle.orange {
	background-color: #ED561B;
}

.circle.yellow {
	background-color: #ffe766;
}

ul.sublink
{
/* width:98%; */
padding:0;
margin:0;
list-style-type:none;
	font-family: Tahoma;
	font-weight: NORMAL;
	font-size: 13px;
	/* padding: 5px 5px 5px 5px; */
	margin-bottom: 6px;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
li.subtab {
display:inline;
/* padding: 5px 10px; */
}

#banner-container {
    height: 200px;
    margin-bottom: 18px;
    position: relative;
    width: 925px;
}

#banner-container .banner {
    left: 0;
    position: absolute;
    top: 0;
    width: 925px;
    z-index: 1;
}
.banner {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    height: 200px;
}
.banner span {
    display: block;
}
.banner a:hover {
    text-decoration: none;
}
.banner img {
    left: 0;
    position: absolute;
    top: 0;
}
.banner a {
    -moz-box-sizing: border-box;
    display: block;
    padding: 15px 10px 10px 20px;
    position: relative;
}
.banner a > div, .banner a > span, .banner > div > div > span {
    display: block;
    left: 20px;
    position: absolute;
    top: 20px;
}
.banner > div > div > div {
    left: 20px;
    position: absolute;
    top: 20px;
}
.banner > div > div > div.is-container, .banner a > .is-container {
    left: 20px;
    top: 40px;
}
.banner a > .align-right.is-container {
    left: auto;
    right: 20px;
    top: 30px;
}
.banner .headline {
    font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    margin: 5px 0 4px;
    padding: 0;
}
.banner .subheadline {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin: 4px 0 10px;
    padding: 0;
}
.banner .action {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin: 10px 0 0;
}
.banner .action.text span {
    display: inline;
    font-size: 18px;
    margin-left: 5px;
}
.banner .align-right {
    left: auto;
    right: 20px;
    top: 20px;
}
.banner.small {
    height: 120px;
    width: 232px;
}
.banner.small a {
    padding: 6px 10px 10px;
}
.banner.small a > div, .banner.small a > span {
    left: 10px;
    padding-right: 10px;
    top: 10px;
}
.banner.small .headline {
    font-size: 22px;
    line-height: 23px;
    margin: 4px 0 3px;
}
.banner.small .subheadline {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 7px;
}
.banner.small .action {
    font-size: 13px;
    line-height: 13px;
    margin: 7px 0 0;
}
.x-action-col-cell img.icon-verifyDeployment {
	background-image: url("../images/verifyDeployment.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-checkoutForDelivery {
	background-image: url("../images/checkoutForDelivery.png");
	background-size: contain;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-completeDeployment {
	background-image: url("../images/completeDeployment.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-viewDeploymentInfo {
	background-image: url("../images/genericViewIcon.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-acknowledgeDeployment {
	background-image: url("../images/acknowledgeDeployment.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-backupDevice {
	background-image: url("../images/backup.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-uploadInitialConfig {
	background-image: url("../images/uploadInitialConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-downloadInitialConfig {
	background-image: url("../images/downloadInitialConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-uploadFinalConfig {
	background-image: url("../images/uploadFinalConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-downloadFinalConfig {
	background-image: url("../images/downloadFinalConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-downloadFinalConfig {
	background-image: url("../images/downloadFinalConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

img.icon-customReportUpload {
	background-image: url("../images/customReportUpload.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-editRow {
	background-image: url("../images/edit_24.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-addRow {
	background-image: url("../images/add.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}


img.icon-addReport {
	background-image: url("../images/add-app.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

img.icon-grid{
	background-image: url("../images/logo.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}



.x-tab-icon-el.icon-tabs {
	background-image: url("../images/logo.png");
	background-size: contain;
	align: left;
	width: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-chooseRow {
	background-image: url("../images/edit_24.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-assignTechnician {
	background-image: url("../images/assignTechnician.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-assignTechnician {
	background-image: url("../images/assignTechnician.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-renewal {
	background-image: url("../images/renewal.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-renewal {
	background-image: url("../images/renewal.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-promotions {
	background-image: url("../images/promotions.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-promotions {
	background-image: url("../images/promotions.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-reactivate {
	background-image: url("../images/reactivate.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-reactivate {
	background-image: url("../images/reactivate.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-history {
	background-image: url("../images/history.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-history {
	background-image: url("../images/history.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-pdfDownload {
	background-image: url("../images/pdfDownlad.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-processNow {
	background-image: url("../images/process.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-processNow {
	background-image: url("../images/process.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-newConfig {
	background-image: url("../images/newConfig.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-saveConfig {
	background-image: url("../images/save.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-resetConfig {
	background-image: url("../images/reset.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-copyConfig {
	background-image: url("../images/copy.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-reactivateConfig {
	background-image: url("../images/activate.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-deleteConfig {
	background-image: url("../images/trash.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-viewReports {
	background-image: url("../images/report.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-loadConfig {
	background-image: url("../images/load.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-loadConfig {
	background-image: url("../images/load.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-runConfig {
	background-image: url("../images/run.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-arrow_upConfig {
	background-image: url("../images/envelope.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}


.icon-runConfig {
	background-image: url("../images/run.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-cancelConfig {
	background-image: url("../images/cancel.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-cancelConfig {
	background-image: url("../images/cancel.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-purchase {
	background-image: url("../images/purchase_24.png");
	background-size: contain;
	width: 100px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-purchase {
	background-image: url("../images/purchase_24.png");
	background-size: contain;
	width: 100px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon-pdfDownload {
	background-image: url("../images/pdfDownlad.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-updateNotificationRemarks {
	background-image: url("../images/updateComments.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.x-action-col-cell img.icon-disabled {
	visibility:hidden;
	display:none;
	
}

.icon-autodisabled {
	disabled: true;
}

.x-action-col-cell img.icon-autodisabled {
	disabled: true;
}

.x-action-col-cell img.icon-activateUser {
	background-image: url("../images/activate.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.x-action-col-cell img.icon-inactivateUser {
	background-image: url("../images/inactivate.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-inactivateDeployment {
	background-image: url("../images/inactivateDeployment.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.x-action-col-cell img.icon-inactivateDeployment {
	background-image: url("../images/inactivateDeployment.jpg");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.approve {
    background-image: url("../images/approve1.jpg");
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
}

.verify {
    background-image: url("../images/approve.png");
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
}

.addNewCatalogProduct {
    background-image: url("../images/add.png");
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
}

.skipItem {
    background-image: url("../images/skip.png");
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
}

.addAsAlias {
    background-image: url("../images/alias.png");
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
}

.x-action-col-cell img.icon-deleteUser {
	background-image: url("../images/delete.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.x-action-col-cell img.icon-aliasOrg {
	background-image: url("../images/alias.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}


.x-action-col-cell img.icon-resetPassword {
	background-image: url("../images/resetPassword.png");
	background-size: contain;
	width: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.selectedRow {
	color: highlight;
}

table.innerTable{
	border:thick !important;
	border-color: blue !important;
	border-spacing:1 !important;
	margin:20 70;
	font-size: 12px;
	
}

.icon-Upload {
	background: url('../images/upload.png') no-repeat 0 0 !important;
/* 	background-image: url("../../../../../resources/zportal/images/upload.png");
	background-size: contain;
	width: 50px;
	background-repeat: no-repeat;
	cursor: pointer; */
}

.disabled-row .x-grid-cell {
	 disabled : true !important;
	 background-color: gray !important;
}

.autoApprove-disabled-row .x-grid-cell {
	 disabled : true !important;
}

.autoApprove-disabled-row .x-action-col-button .x-btn-button{
	disabled : true !important;
}

.autoApprove-disabled-row .x-grid-cell-last {
	disabled : true;
}

.blueCell .x-grid-cell {
     color: #0000FF !important;
     font-weight: bold;
}
.wisteriaCell .x-grid-cell {
     color: #9F00C5 !important;
     font-weight: bold;
}
.grayCell .x-grid-cell {
     color: #A8A8A8 !important;
     font-weight: bold;
}

.orangeCell .x-grid-cell {
     color: #FF8020 !important;
     font-style: italic;
     font-weight: bold;
}

.redCell .x-grid-cell {
     color: #FF0000 !important;
     font-weight: bold;
}

.greenCell .x-grid-cell {
     color: #32CD32 !important;
     font-weight: bold;
}

.blueCell .x-grid-cell {
     color: #0000CD !important;
     font-weight: bold;
}

.blackCell .x-grid-cell {
     color: #000000 !important;
     font-weight: bold;
}

.normalCell .x-grid-cell {
     color: #000000 !important;
}
